<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Вы разрабатываете страницу для отображения информации о товаре.
     У вас есть объект product, который содержит информацию о товаре, 
     включая название, цену и URL изображения товара -->






    <div id="app">
        <div class="container">
            <div class="panel">
                <h1>Каталог товаров</h1>
            </div>
            <div class="filter_panel">
                <label for="filter">Сортировать товары: </label>
                <select name="filter" id="filter" @change="sortArray" v-model="select">
                    <option value="default" selected>Сортировка по цене</option>
                    <option value="min">Сначала дешевые</option>
                    <option value="max">Сначала дорогие</option>
                </select>

            </div>
            <div class="result">
                <div class="result__item" v-for="item in sortMax" :key="item.id">
                    <h2>{{item.name}}</h2>
                    <img :src="item.img" :alt="item.name">
                    <div class="price">Стоимость: <b>{{item.price}}</b></div>
                    <div>{{(item.date).getFullYear()}}</div><br>
                    <button @click="getDiscount" id="discButton">Получить скидку</button>
                    <div>Цена со скидкой: {{item.price - (item.price * discount)/100}}</div>
                    <!-- Добавьте кнопку, которая будет изменять цену товара. 
                    При нажатии на кнопку должна генерироваться скидка на товар от 1 до 20%
                     и обновиться цена товара в соответствии с значением скидки -->
                    <div class="card">
                        <input type="number" name="qnt" id="qnt" v-model.number="item.qnt" class="qnt">
                        <label for="qnt">Количество товара: </label>
                    </div>
                    <div class="card">
                        <input type="checkbox" name="bought" id="bought" v-model="item.bought">
                        <label for="bought">Товар куплен</label>
                    </div>

                </div>
            </div>
        </div>

        <!--    Вы разрабатываете простое приложение для отображения списка пользователей. 
        У вас есть массив объектов users, где каждый объект представляет одного пользователя с его именем и возрастом. 
        Вам необходимо отобразить каждого пользователя из массива в виде списка на странице. -->

        <div class="container">
            <div class="panel">
                <h1>Список пользователей</h1>
            </div>

            <div class="result">
                <div class="result__item" v-for="item in contacts" :key="item.idUsr">
                    <h2>{{item.name}} {{item.secondName}} ID: {{item.idUsr}}</h2>
                    <img :src="item.avatar" :alt="item.name" :title="item.name">
                    <p>{{item.eMail}}</p>
                </div>
                <div class="add__contact">
                    <h2 style="text-align: center;">Добавить новый контакт</h2>

                    <label for="name">Имя</label>
                    <input type="text" name="name" class="name" v-model="modelContact.name">

                    <label for="secondName">Фамилия</label>
                    <input type="text" name="secondName" class="secondName" v-model="modelContact.secondName">

                    <label for="eMail">e-mail</label>
                    <input type="text" name="eMail" class="eMail" v-model="modelContact.eMail">

                    <label for="avatar">Ссылка на аватарку</label>
                    <input type="text" name="avatar" class="avatar" v-model="modelContact.avatar">

                    <button @click="addUser">Добавить</button>
                    <div class="user_result"></div>
                </div>
            </div>
        </div>

    </div><!--#app-->





    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script>
        const v = new Vue({
            el: '#app',
            data: {
                pageTitle: 'Урок 4. Семинар: Методы и работа с контентом',
                discount: 0,
                select: '',
                test: [
                    {
                        id: 1,
                        name: 'qqq'
                    },
                    {
                        id: 2,
                        name: 'qqq222'
                    },
                    {
                        id: 3,
                        name: 'qqq333'
                    },
                ],
                modelContact: {
                    id: '',
                    name: '',
                    secondName: '',
                    eMail: '',
                    avatar: ''
                },
                product: [
                    {
                        id: 1,
                        name: 'Телевизор',
                        price: 125,
                        img: 'https://static.nix.ru/images/sony-kd-50x81jr-5418432254.jpeg?good_id=541843&width=500&height=500&view_id=2254',
                        date: new Date(Date.UTC(2017, 1, 2)),
                        qnt: 10,
                        bought: false
                    },
                    {
                        id: 2,
                        name: 'Клавиатура',
                        price: 15,
                        img: 'https://img.mvideo.ru/Pdb/50174469b.jpg',
                        date: new Date(Date.UTC(2018, 11, 12)),
                        qnt: 12,
                        bought: false
                    },
                    {
                        id: 3,
                        name: 'Телефон',
                        price: 76,
                        img: 'https://img.mvideo.ru/Pdb/30041492b.jpg',
                        date: new Date(Date.UTC(2019, 12, 11)),
                        qnt: 5,
                        bought: false
                    },
                    {
                        id: 4,
                        name: 'Зарядка',
                        price: 6,
                        img: 'https://avatars.dzeninfra.ru/get-zen_doc/128694/pub_5d999bc08600e100ad72d117_5d999eb9ec575b00b0154545/scale_1200',
                        date: new Date(Date.UTC(2022, 4, 5)),
                        qnt: 9,
                        bought: false
                    },
                    {
                        id: 5,
                        name: 'Планшет',
                        price: 23,
                        img: 'https://vl.shop.megafon.ru/images/goods/1180/118043_p_8_7.jpg',
                        date: new Date(Date.UTC(2013, 7, 8)),
                        qnt: 36,
                        bought: false
                    },
                    {
                        id: 6,
                        name: 'Мышь',
                        price: 12,
                        img: 'https://www.adverti.ru/media/catalog/product/1/0/102106.jpg',
                        date: new Date(Date.UTC(2023, 9, 5)),
                        qnt: 120,
                        bought: false
                    },
                ],
                contacts: [
                    {
                        idUsr: 0,
                        name: "Viktor",
                        secondName: "Ivanov",
                        eMail: "ivanov@mail.ru",
                        avatar: 'https://pikuco.ru/upload/test_stable/c42/c4238640f6ea4233a1b5085f9ef70218.webp'
                    },
                    {
                        idUsr: 1,
                        name: "Petr",
                        secondName: "Voronov",
                        eMail: "vor@mail.ru",
                        avatar: 'https://pikuco.ru/upload/test_stable/003/0033063ea5ed1c233831eb1b4d8cf33b.webp'
                    },
                    {
                        idUsr: 2,
                        name: "Sveta",
                        secondName: "Gorbunova",
                        eMail: "svetka@mail.ru",
                        avatar: 'https://pikuco.ru/upload/test_stable/c42/c4238640f6ea4233a1b5085f9ef70218.webp'
                    },
                ],
            },
            methods: {
                addUser() {
                    const name = document.querySelector('.name');
                    const secondName = document.querySelector('.secondName');
                    const eMail = document.querySelector('.eMail');
                    const avatar = document.querySelector('.avatar');
                    const user_result = document.querySelector('.user_result');
                    const err1 = 'Нужно заполнить все поля';
                    const ok = 'Все хорошо';
                    const validate = [
                        {
                            name: false,
                            name2: false,
                            email: false,
                            avatar: false
                        }
                    ];
                    const lenghtContacts = this.contacts.lenght;
                    this.modelContact.id = lenghtContacts;

                    if (this.modelContact.name === '') {
                        name.classList.remove('success');
                        name.classList.add('error');
                        user_result.innerHTML = '';
                        user_result.innerHTML = err1;
                        validate.name = false;
                    } else {
                        name.classList.remove('error');
                        name.classList.add('success')
                        user_result.innerHTML = '';
                        user_result.innerHTML = ok;
                        validate.name = true;
                    }



                    if (this.modelContact.secondName === '') {
                        secondName.classList.remove('success');
                        secondName.classList.add('error');
                        user_result.innerHTML = '';
                        user_result.innerHTML = err1;
                        validate.name2 = false;
                    } else {
                        secondName.classList.remove('error');
                        secondName.classList.add('success')
                        user_result.innerHTML = '';
                        user_result.innerHTML = ok;
                        validate.name2 = true;
                    }




                    if (this.modelContact.eMail === '') {
                        eMail.classList.remove('success');
                        eMail.classList.add('error');
                        user_result.innerHTML = '';
                        user_result.innerHTML = err1;
                        validate.email = false;
                    } else {
                        eMail.classList.remove('error');
                        eMail.classList.add('success')
                        user_result.innerHTML = '';
                        user_result.innerHTML = ok;
                        validate.email = true;
                    }



                    if (this.modelContact.avatar === '') {
                        avatar.classList.remove('success');
                        avatar.classList.add('error');
                        user_result.innerHTML = '';
                        user_result.innerHTML = err1;
                        validate.email = false;
                    } else {
                        avatar.classList.remove('error');
                        avatar.classList.add('success')
                        user_result.innerHTML = '';
                        user_result.innerHTML = ok;
                        validate.email = true;
                    }

                    console.log(validate);

                    if (validate.name && validate.name2 && validate.email) {
                        this.contacts.push({
                            ...this.modelContact
                        });



                        name.value = '';
                        secondName.value = '';
                        eMail.value = '';
                        avatar.value = '';

                        this.modelContact.name = '';
                        this.modelContact.secondName = '';
                        this.modelContact.eMail = '';
                        this.modelContact.avatar = '';

                        for (let i = 0; i < validate.length; i++) {
                            validate[i] = false
                        }

                        user_result.innerHTML = ''
                        name.classList.remove('success');
                        secondName.classList.remove('success');
                        eMail.classList.remove('success');
                        avatar.classList.remove('success');
                    }

                },
                getDiscount() {
                    this.discount = Math.floor(Math.random() * 20)
                    console.log(this.discount);
                },
                sortArray() {
                    if (this.select === 'min') {
                        console.log('Сортировка на уменьшение');
                    } else if (this.select === 'max') {
                        console.log('Сортировка на увеличение');
                    } else {
                        console.log('Сортировка по умолчанию');
                    }
                }
            },

            computed: {
                priceWithDiscount() {
                    return (
                        this.product.price - (this.product.price * this.discount) / 100
                    );
                },
                sortMax() {
                    let resultArray = [...this.product];
                    if (this.select === '') {
                        return resultArray
                    } else if (this.select === 'max') {
                        resultArray.sort(function (a, b) {
                            if (a.price > b.price) {
                                return -1
                            }
                        })
                    } else if (this.select === 'min') {
                        resultArray.sort(function (a, b) {
                            if (a.price < b.price) {
                                return -1
                            }
                        })
                    }
                    return resultArray
                }
            }
        })

        document.title = v.pageTitle;
    </script>
</body>

</html>