.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.panel {
    background-color: rgb(64, 104, 179);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}
.result__item{
    border-radius: 20px;
    width: 280px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    max-width: 100%;
}