<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GB - VUE.js</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="navbar">

                <div class="nav__logo">
                    <a href="#" class="nav__logo-link" :title="siteName">
                        <img :src="logoImg" :alt="siteName" class="nav__logo-img">
                        <span>Interno</span>
                    </a>
                </div>

                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__list-item" v-for="item in navbar" :key="item.id">
                            <a :href="item.link" class="nav__list-link" :title="item.name">{{item.name}}</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
        <div class="container">
            <div class="hero">
                <h1 class="hero__title">Let your home be unique</h1>
                <p class="hero__text">There are many variations of the passages of lorem Ipsum fromavailable, majority.</p>
                <button class="hero__button">Get started<img src="img/arrow.svg" alt="Get Started" class="hero_button-img"></button>
            </div>
        </div>
        <div class="container">
            cdxcxcd
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js" defer></script>
    <script src="js/script.js" defer></script>
</body>

</html>