body {
    font-family: 'DM', sans-serif;
    letter-spacing: 0.22px;
    line-height: 150%;
    color: $text_color;
    font-size: 22px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border-left: 1px solid $vertical_line;
    border-right: 1px solid $vertical_line;
}