.card_box {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.card_box-item {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(161, 156, 156);
}
h2{
    text-align: center;
    width: 100%;
    margin:0px;
}
p{
    width: 100%;
}
.div14{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
}
.alert{
    color: red;
    text-align: center;
    font-size: 25px;
}